@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #02008f;
  --foreground: #fff0db;
  --logo: 'Playfair Display', serif;
  --receipt: 'Inconsolata', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02008f;
    --foreground: #fff0db;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), #02008f), url('/assets/images/background.jpg');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}